<header class="site-header">
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper grey darken-1">
          <a href="{% url 'blog-home' %}" class="brand-logo"><i class="large material-icons">cloud</i>DataScience Blog</a>
          <ul class="right hide-on-med-and-down">
            <li><a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a></li>
            <li><a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a></li>
            {% if user.is_authenticated %}
                <!--TODO: Add link to current user's Post -->
                <li><a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a></li>
                <li><a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a></li>
                <li><a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a class="nav-item nav-link" href="{% url 'login' %}">Login</a></li>
                <li><a class="nav-item nav-link" href="{% url 'register' %}">Register</a></li>
            {% endif %}
          </ul>
        </div>
    </nav>
</div>
</header>
