{% extends 'blog/base.html' %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-botton mb-4">Delete Post</legend>
                <h2>Are you sure you want to delete the post "{{ object.title }}</h2>
            </fieldset>
            <div class="form-group">
                <button class="waves-effect waves-light btn-small red darken-4 border border-dark" type="submit">Yes, Delete</button>
                <a class="waves-effect waves-light btn-small grey darken-1 border border-dark" href="{% url 'post-detail' object.id %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}