{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-botton mb-4">Blog Post</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn-small waves-effect grey lighten-2 black-text z-depth-3 border border-dark" type="submit">Post</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}