{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container" style="margin-top: 40px">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-botton mb-4">Join Today</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn-small waves-effect grey lighten-2 black-text z-depth-3 border border-dark" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an Account?<a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}