{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group col-md-6 mt-3 mb-0 mx-auto">
                <div class="border-bottom mb-4">
                    <legend class="mb-4">Join Today</legend>
                </div>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group col-md-6 mb-4 mt-2 mx-auto">
                <button class="btn btn-primary btn-sm active" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="col-md-6 mt-2 mb-0 pt-3 mx-auto">
            <small class="text-muted">
                Already have an Account?<a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}